# Dummy file, replace and apply with real file.
---
kind: Secret
apiVersion: v1
type: kubernetes.io/tls
metadata:
  name: sealed-secret-customkeys
  namespace: kube-system
  labels:
    sealedsecrets.bitnami.com/sealed-secrets-key: active
data:
  tls.crt: <crt>
  tls.key: <key>
