k3s_cluster:
  children:
    k3s_master:
    k3s_worker:

k3s_master:
  hosts:
    k3s-mas-01: null
    k3s-mas-02: null
    k3s-mas-03: null

k3s_worker:
  hosts:
    # k3s-wrk-01: null

proxmox:
  hosts:
    pve-a:
      ansible_host: 10.0.99.2
    pve-b:
      ansible_host: 10.0.99.3

odroid:
  hosts:
    # odroid-01: null
    odroid-02: null

linux_desktop:
  hosts:
    lin-pc-01: null
    # lin-pc-02: null

shelly:
  children:
    shelly_dimmer:
    shelly_plug:
    shelly_plug_s:
    shelly_plug_plus:
    shelly_1:
    shelly_i3:
    shelly_bulp:
    shelly_1pm:

# shelly_dimmer:
#   hosts:
#     shellydimmer2-e8db84d4411c:
#     shellydimmer-F36674:
#     shellydimmer-DB3BAF:
#     shellydimmer-D4826F:
#     shellydimmer2-E8DB84D794FD:
#     shellydimmer-DB3DDA:
#     shellydimmer-DB4094:
#     shellydimmer-F39FBB:
#     shellydimmer-F3A2DA:
#     shellydimmer-F3A9E8:
#     shellydimmer2-08F9E046DEF4:

# shelly_plug:
#   hosts:
#     shellyplug-4E6202:

# shelly_plug_s:
#   hosts:
#     shellyplug-s-083a8dc348f4:
#     shellyplug-s-DD4D06:
#     shellyplug-s-801BEA:
#     shellyplug-s-DBF101:
#     shellyplug-s-0212C1:
#     shellyplug-s-DE0CDF:
#     shellyplug-s-dd9ea4:

# shelly_plug_plus:
#   hosts:
#     shellyplusplugs-d4d4da3495cc:
#     shellyplusplugs-d4d4da3626b4:
#     shellyplusplugs-d4d4daf43764:

# shelly_1:
#   hosts:
#     shelly1-768885:
#     shelly1-10521C45554B:
#     shelly1-40F52004DEAF:
#     shelly1-40F520053A34:
#     shelly1-8CAAB5055BA0:
#     shelly1-40f520053a1a:

# shelly_i3:
#   hosts:
#     shellyix3-68C63AFAA400:

# shelly_bulp:
#   hosts:
#     shellycolorbulb-485519CA30F1:

shelly_1pm:
  hosts:
    shelly1pmmini-6055f99c3780:
    shelly1pmmini-6055f99c2d84:
    shelly1pmmini-6055f9a01248:
