---
# System

# Default username that Ansible should use when connecting to remote host
ansible_user: root
# Temp directory to store temporary files in on the remote machine like manifest downloads.
temp_dir: "~/temp"
# IP-address of the remote host
server_ip: "{{ hostvars[groups['k3s_master'][0]]['ansible_default_ipv4']['address'] }}"

# K3s

# Secret
k3s_token: "<REDACTED>"
sealed_secret_customkeys_2_tls_key: "<REDACTED>"
# Kube-VIP endpoint
kube_vip_apiserver_endpoint: "10.0.100.100"
# Kube-VIP network interface
kube_vip_flannel_iface: "ens18"
# Kube-VIP container image tag
kube_vip_image_tag: "v0.5.12"
# The hostname of the container image registry
registry_host: "harbor.k8s.lan"
# Github repository url where all the kubernetes infrastruture manifest are
github_infra_manifests_url: "https://raw.githubusercontent.com/theautomation/infrastructure/main/kubernetes/deploy"
# MetalLB IP-address for internal traffic
metallb_int_lan_ip: 10.0.100.240/32
# MetalLB IP-address for external traffic
metallb_ext_lan_ip: 10.0.100.250/32
# List of kubernetes namespaces
kubernetes_namespaces:
  - metallb-system
  - prd-int
  - prd-ext
  - democratic-csi
  - devops
  - home-automation
  - tools
  - media
