---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: freenas-iscsi-manual-csi
  labels:
    app.kubernetes.io/name: {{ democratic_csi_manual.name }}
    app.kubernetes.io/instance: csi-manual
provisioner: org.democratic-csi.node-manual
reclaimPolicy: Retain
allowVolumeExpansion: true
volumeBindingMode: Immediate
parameters:
  fsType: "xfs"

---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: freenas-nfs-manual-csi
  labels:
    app.kubernetes.io/name: {{ democratic_csi_manual.name }}
    app.kubernetes.io/instance: csi-manual
provisioner: org.democratic-csi.node-manual
reclaimPolicy: Retain
allowVolumeExpansion: true
volumeBindingMode: Immediate
parameters:
  fsType: "nfs"
mountOptions:
  - noatime
  - nfsvers=4

---
kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: freenas-smb-manual-csi
  labels:
    app.kubernetes.io/name: {{ democratic_csi_manual.name }}
    app.kubernetes.io/instance: csi-manual
provisioner: org.democratic-csi.node-manual
reclaimPolicy: Retain
allowVolumeExpansion: true
volumeBindingMode: Immediate
mountOptions:
  - dir_mode=0777
  - file_mode=0777

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: csi-manual-{{ democratic_csi_manual.name }}
  namespace: {{ democratic_csi_manual.namespace }}
  labels:
    app.kubernetes.io/name: {{ democratic_csi_manual.name }}
    app.kubernetes.io/instance: csi-manual
data:
  extra-ca-certs: ""

---
kind: SealedSecret
apiVersion: bitnami.com/v1alpha1
metadata:
  name: smbcredentials-coen
  namespace: {{ democratic_csi_manual.namespace }}
spec:
  encryptedData:
    mount_flags: AgBYR77ZbuqI80lABghwHURl6W1h1Fxj/gNroehpqVzZ9s2814YJAbKjtM8hjNKRJiRQhBW9fcN8DlvyHyHx7xigfu25lnTIbg1GbZ29xv0DkGKpe22fXD6WuSst9IBXVE4BccSaNIHVB5r9xOml7sq9NhdArVqIa1+ATTgLI+CXLgWgcFyOjawPUZPZQRcJaNpZ9sacY1IDDfQYXZTU+dD+vq62Dmozs5uHKbjBEdo1WjkJcNpCdXumDjMWBJ/0R3q4MNdeJ9ODztgbhw9G7hFSL8bhChUE8gSVFkx4OBPzbu/VSDJhHHctHiKXzL/Fl9XcsxrW84oGSs5CPd7WP47yP9oNp+LZ7ASqr8qX8zD24xLF2iiRGNx+AJXzDBW5rL0z5bgeIpSyyj8ymj3DdAqWnXXOhzFBW2kHuug3ZcLBr3rbHMz2ZNm1AFQNu2pilowcthCNqAcKwru0ENr9MApNVYhoiHOIyUYU5i3CNVqvjAsW3bFj/sFVcqK5zEseaHExUf2mO85Q/orYzkJC6M+YV/N3yEj/YDXnnKpBKr3gnR3Z37P4s01AdPYBbpVsk2TpISvUxUgR8kO47q4vpaHUzc+yTWoBiLqCpFqQ0toYOtSxW5/I4BJZd7fs0Ibv+mzZiM0LfmCtsuoE62LQshMYMbQXzJRYeRpcGj6+s90pQsVlHAgYanX1XdGfKkrBFuq17xvXXkyGlc2CQoagIn/gYTFssBwiBcfjZ4BoQbpv
  template:
    metadata:
      name: smbcredentials-coen
      namespace: {{ democratic_csi_manual.namespace }}

---
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: csi-manual-{{ democratic_csi_manual.name }}-driver-config
  namespace: {{ democratic_csi_manual.namespace }}
  labels:
    app.kubernetes.io/name: {{ democratic_csi_manual.name }}
    app.kubernetes.io/instance: csi-manual
stringData:
  driver-config-file.yaml: |-
    driver: node-manual

---
kind: CSIDriver
apiVersion: storage.k8s.io/v1
metadata:
  name: org.democratic-csi.node-manual
  labels:
    app.kubernetes.io/name: {{ democratic_csi_manual.name }}
    app.kubernetes.io/instance: csi-manual
spec:
  attachRequired: false
  podInfoOnMount: true
  #  volumeLifecycleModes:
  #  - Persistent
  #  - Ephemeral

---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: csi-manual-{{ democratic_csi_manual.name }}-node-sa
  namespace: {{ democratic_csi_manual.namespace }}
  labels:
    app.kubernetes.io/name: {{ democratic_csi_manual.name }}
    app.kubernetes.io/instance: csi-manual

---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: csi-manual-{{ democratic_csi_manual.name }}-node-cr
  labels:
    app.kubernetes.io/name: {{ democratic_csi_manual.name }}
    app.kubernetes.io/instance: csi-manual
rules:
  - apiGroups: ["apiextensions.k8s.io"]
    resources: ["customresourcedefinitions"]
    verbs: ["list", "create"]
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: [""]
    resources: ["persistentvolumes"]
    verbs: ["get", "list", "watch", "update"]
  - apiGroups: ["storage.k8s.io"]
    resources: ["volumeattachments"]
    verbs: ["get", "list", "watch", "update"]

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: csi-manual-{{ democratic_csi_manual.name }}-node-rb
  labels:
    app.kubernetes.io/name: {{ democratic_csi_manual.name }}
    app.kubernetes.io/instance: csi-manual
roleRef:
  kind: ClusterRole
  apiGroup: rbac.authorization.k8s.io
  name: csi-manual-{{ democratic_csi_manual.name }}-node-cr
subjects:
  - kind: ServiceAccount
    name: csi-manual-{{ democratic_csi_manual.name }}-node-sa
    namespace: {{ democratic_csi_manual.namespace }}

---
kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: csi-manual-{{ democratic_csi_manual.name }}-node
  namespace: {{ democratic_csi_manual.namespace }}
  labels:
    app.kubernetes.io/name: {{ democratic_csi_manual.name }}
    app.kubernetes.io/instance: csi-manual
    app.kubernetes.io/csi-role: "node"
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ democratic_csi_manual.name }}
      app.kubernetes.io/instance: csi-manual
      app.kubernetes.io/csi-role: "node"
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ democratic_csi_manual.name }}
        app.kubernetes.io/instance: csi-manual
        app.kubernetes.io/csi-role: "node"
    spec:
      serviceAccount: csi-manual-{{ democratic_csi_manual.name }}-node-sa
      hostNetwork: true
      hostAliases: []
      hostIPC: true
      containers:
        - name: csi-driver
          image: docker.io/democraticcsi/democratic-csi:{{ democratic_csi_manual.image_tag.democratic_csi}}
          args:
            - --csi-version=1.5.0
            - --csi-name=org.democratic-csi.node-manual
            - --driver-config-file=/config/driver-config-file.yaml
            - --log-level=info
            - --csi-mode=node
            - --server-socket=/csi-data/csi.sock.internal
          securityContext:
            allowPrivilegeEscalation: true
            capabilities:
              add:
                - SYS_ADMIN
            privileged: true
          env:
            - name: CSI_NODE_ID
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
            - name: NODE_EXTRA_CA_CERTS
              value: "/tmp/certs/extra-ca-certs.crt"
          terminationMessagePath: /tmp/termination-log
          terminationMessagePolicy: File
          livenessProbe:
            failureThreshold: 3
            exec:
              command:
                - bin/liveness-probe
                - --csi-version=1.5.0
                - --csi-address=/csi-data/csi.sock.internal
            initialDelaySeconds: 10
            timeoutSeconds: 15
            periodSeconds: 60

          volumeMounts:
            - name: socket-dir
              mountPath: /csi-data
            - name: kubelet-dir
              mountPath: /var/lib/kubelet
              mountPropagation: Bidirectional
            - name: modules-dir
              mountPath: /lib/modules
              readOnly: true
            - name: localtime
              mountPath: /etc/localtime
              readOnly: true
            - name: udev-data
              mountPath: /run/udev
            - name: host-dir
              mountPath: /host
              mountPropagation: Bidirectional
            - mountPath: /sys
              name: sys-dir
            - name: dev-dir
              mountPath: /dev
            - name: config
              mountPath: /config
            - name: extra-ca-certs
              mountPath: /tmp/certs
        - name: csi-proxy
          image: docker.io/democraticcsi/csi-grpc-proxy:{{ democratic_csi_manual.image_tag.csi_proxy}}
          env:
            - name: BIND_TO
              value: "unix:///csi-data/csi.sock"
            - name: PROXY_TO
              value: "unix:///csi-data/csi.sock.internal"
          volumeMounts:
            - mountPath: /csi-data
              name: socket-dir
        - name: driver-registrar
          image: k8s.gcr.io/sig-storage/csi-node-driver-registrar:{{ democratic_csi_manual.image_tag.driver_registrar }}
          args:
            - --v=5
            - --csi-address=/csi-data/csi.sock
            - --kubelet-registration-path=/var/lib/kubelet/plugins/org.democratic-csi.node-manual/csi.sock
          env:
            - name: KUBE_NODE_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: spec.nodeName
          livenessProbe:
            exec:
              command:
                - /csi-node-driver-registrar
                - --kubelet-registration-path=/var/lib/kubelet/plugins/org.democratic-csi.node-manual/csi.sock
                - --mode=kubelet-registration-probe
          volumeMounts:
            - mountPath: /csi-data
              name: socket-dir
            - name: registration-dir
              mountPath: /registration
            - name: kubelet-dir
              mountPath: /var/lib/kubelet
        - name: cleanup
          image: docker.io/busybox:{{ democratic_csi_manual.image_tag.cleanup }}
          command:
            - "/bin/sh"
            - "-c"
            - "--"
          args: ["while true; do sleep 2; done;"]
          lifecycle:
            preStop:
              exec:
                command:
                  [
                    "/bin/sh",
                    "-c",
                    "rm -rf /plugins/org.democratic-csi.node-manual /registration/org.democratic-csi.node-manual-reg.sock",
                  ]
          volumeMounts:
            - name: plugins-dir
              mountPath: /plugins
            - name: registration-dir
              mountPath: /registration
      volumes:
        - name: socket-dir
          hostPath:
            path: /var/lib/kubelet/plugins/org.democratic-csi.node-manual
            type: DirectoryOrCreate
        - name: plugins-dir
          hostPath:
            path: /var/lib/kubelet/plugins
            type: Directory
        - name: registration-dir
          hostPath:
            path: /var/lib/kubelet/plugins_registry
            type: Directory
        - name: kubelet-dir
          hostPath:
            path: /var/lib/kubelet
            type: Directory
        - name: dev-dir
          hostPath:
            path: /dev
            type: Directory
        - name: modules-dir
          hostPath:
            path: /lib/modules
        - name: localtime
          hostPath:
            path: /etc/localtime
        - name: udev-data
          hostPath:
            path: /run/udev
        - name: sys-dir
          hostPath:
            path: /sys
            type: Directory
        - name: host-dir
          hostPath:
            path: /
            type: Directory
        - name: config
          secret:
            secretName: csi-manual-{{ democratic_csi_manual.name }}-driver-config
        - name: extra-ca-certs
          configMap:
            name: csi-manual-{{ democratic_csi_manual.name }}
            items:
              - key: extra-ca-certs
                path: extra-ca-certs.crt
