---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  name: github-registry-creds
  namespace: {{ github_registry_credentials_namespace }}
spec:
  encryptedData:
    .dockerconfigjson: AgA1ieAG1sG42HhN915G/BDIRt3QUw/6015k5Xc12fFS7NT6deFWLEJMSa9vPStGe3eghpNkm4H7gzb2hCVFmu0uMpF2mzE0zYKD2HeW45dqApkI0LwPmNEiA0PTmIyc3PyAr0DyLwQzKa32hp5fJFfA/+/TRUfoFm+Rxe25StdpAX6S45DR9GurW7SwZanlsyX5Pu04BHGj3o7PBpDz3YnP/d6FfgP7VoQNe5J1ijgUV1svvjAE9TwQ8j3NRV3LXyVLKr9vcdPmZeS+gCHu0EPkQGGPmDfYZQ7ewM7EhfrRwH4e0pkx6CES74xUZyMPr3ZVGj0bKHS9iAoUnJ8kM/sqWAeXxF9ILnLLpbnAfxKVa3Aiu2ESewvo2LOg2kjJ36UPYCA/GINEdUS8MzIUUDDlul8Km37nM79iYqiw4Xw+6ldRv//5fNoT544duYx4QolO1nEq45K06U25mwx4pIElnkqm1Z+EhYdYMLRjRhfLSN/R+6p2x+z/0TUB+mWGwelvJhhKsCpI5zEWUnm9FNqj4JbWWVkHZgXRzcPUbXw+etzdWg/OAvaX7iCybNBkaAhKB5DbH9lMNX96eOEYjTtRjKvaRSh6V8TVX77wQiv5UdWPy5Wi1wkTVTdmlP3Kzg/H86LGPcvHGUwssbBvfkrS1SqYA7zYh64l5jMRv0La2khJ2zPO5Y1zBv5ZPd57kImZNp4zUK5jFLLDrULPsBxXNrMfv0f/XEGk3H3jZ/HJ3Q59rqc1FqdnenApgijTdgRCrBDToXMIG4VAgsbarrJy89I6Eu5OkuPTc2eja26owR/nLTQT2MDANA==
  template:
    type: kubernetes.io/dockerconfigjson
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      name: github-registry-creds
      namespace: {{ github_registry_credentials_namespace }}
