---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  name: github-registry-creds
  namespace: {{ github_registry_credentials_namespace }}
spec:
  encryptedData:
    .dockerconfigjson: AgB5hlzuxfavzehunh07tO0slMwQ3Dz1ThLL+ePoGBwdrpmyCvx/qf7xnBmC41S+uQr76D0qtlD9J2RgPbl9lMv7c9AVsv1D1xS1BA395zPulWaYhlg7rCIf37RchNAZ70bI5CsAOJZGtaYTuhjJsMl5zvRppk9XX0nK3/WaF9E4/SQQZ6jcsAJhgN9wSR2dD75gttbNnknXvdz7Fgajtubzo6RZjxKDwps1YMthN80c4J+ewLCmVZGDoCbtJXpEq88vBXhrQNwXJFYdbvgkAFMNsoy3nId5LZmW31zK3GFvNeMj6f3f84qyDTb4Oojpa30vf+l6sfVkxe/Abdx5fPM0arMVRra2pyrZJyw4eqS9q2huHpmQGmni67nHuCF6N6UrPVaK6hdy14NQFEsLVRH926gJt2DDZFeNGrdCWxVA8dfkfCEF6gCKs1BPF/FKeh7S+qRv/tfHPz7WIcYg1MenqML/HEPOgpNsK9Jc72I9Cn80Vr3hgiK62q3UbkmVFt0vt4J3b2dZ4Be4JuH2AOIERKGbAN/ZlGmkK0arT93nfUDLO9pTRSKRxl/QQfdKG0IZ4A8kThGy6sK9mJC7l2J7qMZk3zOkMFoSr9AsnStDpfibP63750wK3WDqnNEha9eoR41tAikuPBCgcG2I8f69539Zcxfcu2w5mzLTWCPn1TkB6rjmjtAGYTxgfCsSyFCtIGirL9mcGV9dWsR7ShU4G5kOltkMmExr2TI2ML6JUyrmDYKlRZ5ueRy3H9VdkXVSFtwX8To64t/wWa+ua3DFcXdfOL9ivS/9TXqyfbIpzR5LFrvyexOggnhZYv+yRWqvrkx9UyxEe3s=
  template:
    type: kubernetes.io/dockerconfigjson
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      name: github-registry-creds
      namespace: {{ github_registry_credentials_namespace }}
