---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  name: github-registry-creds
  namespace: {{ github_registry_credentials_namespace }}
spec:
  encryptedData:
    .dockerconfigjson: AgB4h+1dgwQD4RSf2DlscUW1e/qbBVXHKinwyNynphO9PuPQv5YmzWF/O2CvE5czAejt8AlrlCbv6SFH+HppWzca91fHFY34X1/aQ/eSRpR1OxBrJ5dASSa8cpOdMVHUzAio/GSykPyzjzkJrC/R6K5NBnBxrwsDJlMpTLrL6m0fN2mo3rsk2kOMSrMMdbulx5ph28Dmo38G7jk5SfdKswxQarjeLWI3uQ0jDpC1rVH/6S83ONf2B9leu9ZmrX2OK6Osdc5fbDeMAWg/lJZu2OpdMGkTqwHouvAdv78dFiwZte528LdBAudyoJlqUhZcqWRkbXfCkT5bNfmDARCU2ARnGkyVLLrEB4YbmfzwPMFAIkLDbyFJUxDu2D8UPt8u0VEmMHBHksCjiQW8UDk3Rxq/K1aGReyT3vw0MieLySMHE5JNgSOudcjdi31KQik5deOL31DVbvhZ9V3lJKPI9bbS3N9esfzotc+I9riLnkMbrgGFQu+pf56DFtfek0lN0WQh/4pEHxC82snNdgYVf4fb2Vh+aNgZNI9pGxlnLzkjK2XPUSds6ZBGm/y9AfaSL7V+Zj1UEk70t7HgGDSw6cQC3/dnWBDx2RIUiRHp4SDTNnGvqKe5TFkOFyUyomghd5VL2j0elHvFWW+3kPyewYhY1CpDEORDboXz1EQ5VGn4h6JwUm2ta1HrkjE4mu+SFm4we/rNBbkC0dsOgUgqheUokE5uCIi6t7kBZQuTdAS7Y1dD0Nb7srXGTcllpKSH6VtStP/0hf5xB56FliWZxH0ho0Ow7cAeqhu3yHzRZ9K+ZSI3ODFcV9+ZKGMDVLbFkQFsPHkpeFCNtNQ=
  template:
    type: kubernetes.io/dockerconfigjson
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      name: github-registry-creds
      namespace: {{ github_registry_credentials_namespace }}
