---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2-ipaddresspool
  namespace: {{ metallb_namespace }}

---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: prd-int-lan-ips
  namespace: {{ metallb_namespace }}
spec:
  addresses:
  {% for ip_address in metallb_int_lan_ip_addresses %}
    - {{ ip_address }}
  {% endfor %}

---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: prd-ext-lan-ips
  namespace: {{ metallb_namespace }}
spec:
  addresses:
    - {{ metallb_ext_lan_ip }}
