---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-iscsi-{{ uptime_kuma.name }}
  labels:
    app.kubernetes.io/name: {{ uptime_kuma.name }}
    app.kubernetes.io/component: server
    app.kubernetes.io/instance: production
    app.kubernetes.io/part-of: {{ uptime_kuma.name }}
spec:
  storageClassName: "freenas-iscsi-manual-csi"
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: org.democratic-csi.node-manual
    readOnly: false
    fsType: xfs
    volumeHandle: pv-iscsi-{{ uptime_kuma.name }}
    volumeAttributes:
      portal: storage-server-lagg.lan.theautomation.nl:3260
      iqn: iqn.2005-10.org.freenas.ctl:{{ uptime_kuma.name }}
      lun: "0"
      node_attach_driver: iscsi
      provisioner_driver: node-manual

---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: {{ uptime_kuma.name }}
  namespace: {{ uptime_kuma.namespace }}
  labels:
    app.kubernetes.io/name: {{ uptime_kuma.name }}
    app.kubernetes.io/component: server
    app.kubernetes.io/instance: production
    app.kubernetes.io/part-of: {{ uptime_kuma.name }}
spec:
  replicas: 1
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: Delete
  serviceName: {{ uptime_kuma.name }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ uptime_kuma.name }}
      app.kubernetes.io/component: server
      app.kubernetes.io/instance: production
      app.kubernetes.io/part-of: {{ uptime_kuma.name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ uptime_kuma.name }}
        app.kubernetes.io/component: server
        app.kubernetes.io/instance: production
        app.kubernetes.io/part-of: {{ uptime_kuma.name }}
    spec:
      containers:
        - name: {{ uptime_kuma.name }}
          image: louislam/uptime-kuma:{{ uptime_kuma.image_tag }}
          env:
            - name: UPTIME_KUMA_PORT
              value: "3001"
            - name: PORT
              value: "3001"
          ports:
            - name: {{ uptime_kuma.name }}
              containerPort: 3001
              protocol: TCP
          volumeMounts:
            - name: kuma-data
              mountPath: /app/data
  volumeClaimTemplates:
    - metadata:
        name: kuma-data
        labels:
          app.kubernetes.io/name: {{ uptime_kuma.name }}
          app.kubernetes.io/component: server
          app.kubernetes.io/instance: production
          app.kubernetes.io/part-of: {{ uptime_kuma.name }}
      spec:
        selector:
          matchLabels:
            app.kubernetes.io/name: {{ uptime_kuma.name }}
            app.kubernetes.io/component: server
            app.kubernetes.io/instance: production
            app.kubernetes.io/part-of: {{ uptime_kuma.name }}
        accessModes:
          - "ReadWriteOnce"
        storageClassName: freenas-iscsi-manual-csi
        resources:
          requests:
            storage: "1Gi"

---
kind: Service
apiVersion: v1
metadata:
  name: {{ uptime_kuma.name }}
  namespace: {{ uptime_kuma.namespace }}
  labels:
    app.kubernetes.io/name: {{ uptime_kuma.name }}
    app.kubernetes.io/component: server
    app.kubernetes.io/instance: production
    app.kubernetes.io/part-of: {{ uptime_kuma.name }}
spec:
  selector:
    app.kubernetes.io/name: {{ uptime_kuma.name }}
    app.kubernetes.io/component: server
    app.kubernetes.io/instance: production
    app.kubernetes.io/part-of: {{ uptime_kuma.name }}
  ports:
    - name: {{ uptime_kuma.name }}
      protocol: TCP
      port: 3001
      targetPort: 3001

---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ uptime_kuma.name }}
  namespace: {{ uptime_kuma.namespace }}
  labels:
    app.kubernetes.io/name: {{ uptime_kuma.name }}
    app.kubernetes.io/component: server
    app.kubernetes.io/instance: production
    app.kubernetes.io/part-of: {{ uptime_kuma.name }}
spec:
  ingressClassName: nginx-private
  rules:
    - host: uptime-kuma.lan.theautomation.nl
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ uptime_kuma.name }}
                port:
                  number: 3001
  tls:
    - hosts:
        - uptime-kuma.lan.theautomation.nl
      secretName: tls-wildcard-k8s-lan
